<h1>All Breweries</h1>

<% @breweries.each do |brewery| %>
  <h3>
    <%= brewery.name %>
    <%= link_to "Edit #{brewery.name}", "/breweries/#{brewery.id}/edit" %>
    <%= link_to "Delete #{brewery.name}", "/breweries/#{brewery.id}", method: :delete %>
  </h3>
  <p><b>Created at:</b> <%= brewery.created_at %><p>
<% end %>

<%= link_to 'New Brewery', '/breweries/new' %>

<div>
  <%= form_with url: "/breweries", local: true, method: :get do |form| %>
    <%= form.label :query, "Filter Breweries by Name:" %>
    <%= form.text_field :query %>
    <%= form.submit "Submit" %>
  <% end %>
</div>
