<h1>All Breweries</h1>

  <% @breweries.each do |brewery| %>
    <div id="brewery_details">
      <h3><%= brewery.name %></h3>
      <p><b>Created at:</b> <%= brewery.created_at %><p>
      <div id="edit_delete_brewery">
        <%= link_to "Edit #{brewery.name}", "/breweries/#{brewery.id}/edit" %>
        |
        <%= link_to "Delete #{brewery.name}", "/breweries/#{brewery.id}", method: :delete %>
      </div>
    </div>
  <% end %>

<p><b><%= link_to 'New Brewery', '/breweries/new' %></b></p>

<div>
  <%= form_with url: "/breweries", local: true, method: :get do |form| %>
    <%= form.label :query, "Filter Breweries by Name:" %>
    <%= form.text_field :query %>
    <%= form.submit "Submit Exact Search" %>
  <% end %>
</div>

<div>
  <%= form_with url: "/breweries", local: true, method: :get do |form| %>
    <%= form.label :fuzzy_query, "Filter Breweries by Partial Name:" %>
    <%= form.text_field :fuzzy_query %>
    <%= form.submit "Submit Partial Search" %>
  <% end %>
</div>
