<h1><%= @beer.name %></h1>
<p><b>Style:</b> <%= @beer.style %><p>
<p><b>Alcohol by Volume(ABV):</b> <%= @beer.abv%>%<p>
<p><b>Bitterness:</b> <%= @beer.ibu%> IBU<p>
<p><b>Fermentation Completed?</b> <%= @beer.fermentation_completed%><p>

<p><%= link_to 'Update This Beer', "/beers/#{@beer.id}/edit" %><p>
<p><%= link_to 'Delete This Beer', "/beers/#{@beer.id}", method: :delete %></p>
